<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>案件登録確認</title>
    <link href="/css/add.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
  </head>
  <body>

    <h3>売上管理システム：案件登録確認</h3>
    <form th:action="@{/addcommit}" th:object="${ankenRequest}" th:method="post">
    <table>
      <tr>
        <th class="cell_title">顧客名</th>
        <th class="cell_required">※</th>
        <td th:text="*{kokyaku}"></td>
      </tr>
      <tr>
        <th class="cell_title">受注日</th>
        <th class="cell_required">※</th>
        <td th:text="*{juchu_day}"></td>
      </tr>
      <tr>
        <th class="cell_title">S番号</th>
        <th class="cell_required"></th>
        <td  th:text=" 'S-' + *{s_no}"></td>
      </tr>
      <tr>
        <th class="cell_title">件名</th>
        <th class="cell_required"></th>
        <td th:text="*{kenmei}"></td>
      </tr>
      <tr>
        <th class="cell_title">数量</th>
        <th class="cell_required"></th>
        <td th:text="*{suryo}"></td>
      </tr>
      <tr>
        <th class="cell_title">指定日</th>
        <th class="cell_required"></th>
        <td th:text="*{shitei_day}"></td>
      </tr>
      <tr>
        <th class="cell_title">納入日</th>
        <th class="cell_required"></th>
        <td th:text="*{nounyu_day}"></td>
      </tr>
      <tr>
        <th class="cell_title">請求日</th>
        <th class="cell_required"></th>
        <td th:text="*{seikyu_day}"></td>
      </tr>
      <tr>
        <th class="cell_title">指定日</th>
        <th class="cell_required"></th>
        <td th:text="*{shitei_day}"></td>
      </tr>
      <tr>
        <th class="cell_title">見積金額</th>
        <th class="cell_required"></th>
        <td th:text="*{mitsumori_kin}"></td>
      </tr>
      <tr>
        <th class="cell_title">ステータス</th>
        <th class="cell_required"></th>
        <td th:text="*{status}"></td>
      </tr>

      <tr>
        <th class="cell_title">受注金額</th>
        <th class="cell_required"></th>
        <td th:text="*{juchu_kin}"></td>
      </tr>

<!--      <tr>
            <th class="cell_title">カテゴリ</th>
            <th class="cell_required">※</th>
            <td>
				<select id="singleSelect" name="categoryid">
	     			<option th:each="item : ${category}" th:text="${item.categoryname}" th:value="${item.categoryid}" th:class="${item.categoryname}" >singleSelect</option>
					</select>
				</td>

	   </tr>
-->
    </table>
    <input type="hidden" name="kokyaku" th:value="*{kokyaku}">
    <input type="hidden" name="juchu_day" th:value="*{juchu_day}">
    <input type="hidden" name="shitei_day"  th:value="*{shitei_day}">
    <input type="hidden" name="kenmei"  th:value="*{kenmei}">
    <input type="hidden" name="suryo"  th:value="*{suryo}">
    <input type="hidden" name="s_no"  th:value="*{s_no}">
    <input type="hidden" name="nounyu_day"  th:value="*{nounyu_day}">
    <input type="hidden" name="seikyu_day"  th:value="*{seikyu_day}">
    <input type="hidden" name="shitei_day"  th:value="*{shitei_day}">
    <input type="hidden" name="mitsumori_kin"  th:value="*{mitsumori_kin}">
    <input type="hidden" name="status"  th:value="*{status}">
    <input type="hidden" name="juchu_kin" th:value="*{juchu_kin}">

    <div class="btn_area_center">
    	<input type="submit" value="登録">
    	<INPUT type="button" onClick='history.back();' value="戻る">
    </div>

  </form>
  <table>
    <tr th:if="${validationError}" th:each="error : ${validationError}">
      <td style="color:red;" th:text="${error}"></td>
    </tr>
  </table>
  </body>
</html>